/* .primary{
    color: wheat;
    
    text-align: center;
} */

header {
  color: wheat;

  text-align: center;
  /* margin-top: 50px; */

  background-color: darkslategrey;
}

img {
  /* margin-top: 100px; */
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main {
  color: wheat;
  background-color: darkolivegreen;
  text-align: center;
}

footer {
  color: wheat;
  background-color: darkolivegreen;
}
